@{
    ViewData["Title"] = "Page with Form, title tag";
}

<h1>Cats Form</h1>

<form method="post" action="/cats/ViewSubmittedData">
    <input type="text" name="FirstName" placeholder="First Name"/>
    <input type="text" name="LastName" placeholder="Last Name"/>
    <input type="submit" />
</form>