@{
    ViewData["Title"] = "Result from form submission, title tag";
}

<h1>Data Submitted by ListAllCats View</h1>
<p>Chrome Version 96.0.4664.93</p>
<p>The form data is in "Network > Payload" tab of the browser.</p>