<h1>All Cats</h1>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-4">
                <p>Id: @item.Id</p>
                <p>Name:  @item.Name</p>
                <p>Age:  @item.Age</p>
                <p>Breed:  @item.Breed</p>
            </div>
        }
    </div>
</div>